<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css "> -->
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="container">
        <form action="/register_post" method="POST">
            <div class="form-row">
                <div class="form-horizontal col-md-offset-5" id="longin_form">
                    <h3 class="form-title">REGISTER</h3>
                    <div class="col-md-12">
                        <input type="text" class="form-control required" placeholder="Username" id="username" name="username" autofocus="autofocus" maxlength="20">
                        <input type="password" class="form-control required" placeholder="Password" id="password" name="password" maxlength="8">

                        <div class="form-group col-md-offset-9">
                            <button type="submit" class="btn btn-success pull-right" name="submit">注册</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</body>

</html>